{{ with .GetPage "sponsors/_index.md"}}
<div class="mx-auto my-10 max-w-6xl">
    <div class="mx-3 col-span-3 lg:col-span-2 px-2">
        <div class="content prose md:prose-lg lg:prose-xl max-w-none py-1">{{.Content}}</div>
    </div>
</div>
{{ end }}

<div class="grid-container">
    {{ range  (where site.RegularPages "Type" "in" site.Params.sponsors )}}
        <div class="grid-item lg:px-0 duration-500 transform hover:-translate-y-1 hover:shadow-md">
            <img alt="{{.Title}}" 
            src="{{ .Params.image | relURL }}" />
        </div>
        {{ end }}
</div>


